.about {
    background-color: var(--five-color);
}

.about-details-1 {
    background-color: rgba(0, 0, 0, 0.526);
}





.section-about {
    padding: 2rem 1rem;
}

.section-about-details {
    padding: 2rem 1rem;
}


.text-center-about {
    text-align: center;
}

.img-about {
    max-width: 500px;
    transition: transform 0.5s ease;

}

.text-center-about>h2 {
    color: var(--four-color);


}

.text-lg-left-about>p {

    color: var(--four-color);

}

.img-content-about {
    display: flex;
    justify-content: center;

}

.img-card-about {
    position: relative;
    margin: 0 auto;
}


@media screen and (min-width: 1024px) {
    .img-about {
        max-width: 660px;
        transition: transform 0.5s ease;

    }

    .full-lg-screem {
        width: 100%;
        min-height: 85vh;
    }

    .section-about {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .text-center-about>h2 {
        font-size: 3rem;

    }

    .text-lg-left-about>p {
        margin-bottom: 2.5rem;
        text-align: justify;
    }

    .text-lg-left-about {
        text-align: left;
    }

    .about:hover .img-about {
        transform: scale(1.2);
    }

    .about-details-1:hover .img-about {
        transform: scale(1.2);
    }

    .about-details-1 .section-about .text-lg-left-about {
        order: 2;
    }

    .about-details-1 .section-about .img-content-about {
        order: 1;
    }

 

}