.header {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 999;
  padding: 1rem;
  width: 100%;
  height: var(--header-height);
  background-color: var(--five-color);
}

.header>.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.logo {
  text-decoration: none;
  color: var(--white-color);
  font-family: 'Poppins-Bold';
  margin-right: 40px;
}

.logo-content {
  position: relative;

}


.log-letter {
position: absolute;
top: 26px;
left: 85px;
}


.log-img {
  width: 120px;
  height: 60px;
}



.menu-btn {
  outline: thin solid var(--four-color);
  border: 0;
  cursor: pointer;
  background-color: var(--first-color);
}

.menu-btn svg {
  fill: var(--white-color);
}

.menu-btn2 {
  outline: thin solid var(--four-color);
  border: 0;
  cursor: pointer;
  background-color: var(--first-color);
}

.menu-btn2 svg {
  fill: var(--white-color);
}

.menu {
  position: fixed;
  left: 0;
  bottom: var(--header-height);
  width: 100%;
  background-color: var(--five-color);
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  margin-top: 5px;
  font-family: 'Poppins-Regular';
}

.menu.is-active {
  opacity: 1;
  pointer-events: auto;
}

.menu a {
  padding: 1rem;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: var(--four-color);
}

.menu a:hover {
  color: var(--white-color);
  background-color: var(--first-color);
}

@media screen and (min-width: 1024px) {
  .header {
    position: sticky;
    top: 0;
    padding: 0.5rem;
    height: calc(var(--header-height)-.5rem);
  }

  .header>.container {
    justify-content: flex-start;

  }

  .menu-btn {
    display: none;
  }

  .menu-btn2 {
    border-radius: 0.3rem;
    position: fixed;
    width: 3rem;
    height: 3rem;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
  }

  .menu {
    position: static;
    width: auto;
    flex-direction: row;
    opacity: 1;
    pointer-events: auto;
  }

  .menu a {
    padding: 0 1rem;

  }

  .menu a:hover {
    background-color: transparent;
    color: var(--black-color);

  }
}