.proyect {
    background-color: #0e1d29;
    padding: 2rem 0rem;
}

.section-proyect {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.swiper-card {
    position: relative;
    max-height: 500px;
    max-width: 500px;
}




.slide-proyects img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
    padding-bottom: 2rem;
}


.swiper-container-free-mode>.swiper-wrapper {
    transition-timing-function: linear;
}

@media screen and (min-width: 768px) {


    .section-proyect {
        display: grid;
        grid-template-columns: repeat(3, 26.66%);
        justify-content: space-between;
        align-content: center;
        align-items: center;

    }

    .section-proyect h2 {
        grid-column: span 3;
    }

    .slide-proyects {
        grid-column: span 3;
    }



}



@media screen and (min-width: 1024px) {

    .swiper-card {
        max-height: 350px;
        max-width: 500px;
    }

    .slide-proyects img {
        max-height: 300px;
    }

}