.sd-header {
    padding: 2rem 1rem;
}

.section-details {
    background-color: var(--five-color);

}

.sd-header-content {
    background-color: var(--third-color);
}

.sd-text-header {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 30px;



}

.sd-text-header h2 {
    font-size: 2.0rem;
    color: var(--four-color);
}

.sd-text-header p {
    color: var(--four-color);
    text-align: justify;
    font-family: 'Poppins-Light';
}

.card-summary {
    display: flex;
    align-items: center;
    margin: 0.5rem auto;
    padding: 0.5rem;
}

.summary-text {
    margin-left: 10px;
    font-size: 0.9rem;
    color: var(--four-color);
}

.sd-content {
    padding: 2rem 1rem;
}

.sd-text-content {
    background-color: var(--first-color);
    border-radius: 10px;
    padding: 1rem 2rem;

}

.sd-text-content>p {
    font-size: 1.1rem;
    font-family: 'Poppins-Light';
    color: var(--four-color);
    text-align: justify;
}

.sd-text-content>h2 {
    font-family: 'Poppins-Regular';
    font-size: 1.4rem;
    color: var(--four-color);
}

.sd-swiper {
    height: 400px;
    width: 100%;
}

.sd-content-swiper {
    width: 320px;

}

.sd-content-swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.sd-aside-autor {
    margin: 1rem auto;
    padding: 1.5rem 1rem;
    background-color: var(--first-color);
    border-radius: 10px;
    color: var(--four-color);
}

.sd-aside-autor h3 {
    font-size: 1rem;
}

.sd-aside-step {
    background-color: var(--first-color);
    border-radius: 10px;
    padding-right: 1rem;
    padding-left: 1rem;
}

.custom-list {
    list-style-type: none;
    padding-top: 1.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
}

.custom-list li {
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Poppins-Light';
    font-size: 0.9rem;
    color: var(--four-color);
}

.author-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.author-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.author-details {
    display: flex;
    flex-direction: column;
}

.author-name {
    color: var(--four-color);
    font-size: 0.9rem;
}

.author-link {
    color: #0686a9;
    font-family: 'Poppins-Light';
    font-size: 0.9rem;
}

.sd-list {
    list-style-type: none;
    padding: 0;
}

.mat-container {
    display: flex;
    justify-content: center;
}

.mat-content {
    background: var(--white-color);
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 5px;
    border: solid 1.5px #000;
    color: #000;
}

.sd-list li {
    margin-bottom: 25px;
    font-family: 'Poppins-Light';
    color: var(--four-color);
}

.sd-list li>p {
    font-family: 'Poppins-Light';
    margin-bottom: 25px;
    text-align: justify;
    color: var(--four-color);
}

.text-img {
    text-align: center;
    margin:1rem auto;
}

.list-img {
    border-radius: 10px;
}

strong {
    font-family: 'Poppins-SemiBold';
}

.img-table {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .sd-header {
        display: grid;
        grid-template-columns: repeat(10, 7%);
        justify-content: space-between;
        align-content: center;
    }

    .sd-content {
        display: grid;
        grid-template-columns: repeat(10, 7%);
        justify-content: space-between;
        align-content: center;
    }

    .sd-text-header {
        grid-column: span 5;
    }

    .sd-image {
        grid-column: span 5;
    }

    .sd-text-content {
        grid-column: span 7;
    }

    .sd-aside {
        grid-column: span 3;
    }
}