.software {
    background-color: #0e1d29;
}

.section-software {
    padding: 2rem 1rem;
    color: var(--white-color);
}


.section-subtitle {

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;

}

.section-subtitle>a {
    background-color: #C9B400;
    border-radius: 10px 0px 10px 0px;
    padding: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-family: 'Poppins-Regular'

}

.btn-card {
    text-align: center;
    padding: 1rem;
    background-color: #00B798;
    border-radius: 10px 0px 10px 0px;
    transition: all 0.5s ease-out;
}

.btn-card:hover {
    opacity: 0.75;
    background-color: #1B2A41;
    cursor: pointer;
}

.btn-card>h3 {
    font-size: 1rem;
}

.footer-section-info {
    padding: 4rem 1rem;
}

.footer-section-info h3 {
    color: var(--white-color);
    font-size: 2rem;

}

.footer-section-info p {
    color: var(--white-color);

}

.software-card {
    background-color: var(--five-color);
    border-radius: 10px 10px 10px 0px;
    margin-bottom: 2rem;
}

@media screen and (min-width: 768px) {

    .section-software {
        display: grid;
        grid-template-columns: repeat(2, 45%);
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .section-software h2 {
        grid-column: span 2;
    }

    .section-software>.section-subtitle {
        grid-column: span 2;
    }


}


@media screen and (min-width: 1024px) {

    .section-software {
        display: grid;
        grid-template-columns: repeat(3, 30%);
        justify-content: space-between;
        align-content: center;
        align-items: center;
    }

    .section-software h2 {
        grid-column: span 3;
    }

    .section-software>.section-subtitle {
        grid-column: span 3;
    }

    .footer-section-info>h3 {
        width: 50%;
    }

    .footer-section-info>p {
        width: 50%;
    }

}